* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.flex {
    display: flex;
}

main {
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 80px;
}

.home-log {
    flex-direction: column;
    align-items: center;
}

